html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  background-color: #242424;
  font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, sans-serif;
}
